@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');
body{
    min-width: 1080px;
}
.content_title {
    font-size: 1.2em;
    font-weight: bold;
    width: 1080px;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    font-family: "Noto Sans KR", sans-serif;
}
.content {
    width: 1080px;
    margin: 0 auto;
}
.total_zone {
    width: 216px;
    display: inline-block;
}
.img_zone {
    width: 184px;
    height: 262px;
    margin: 0 auto;
    text-align: center;
    position: relative;
}
.img_sty {
    width: 184px;
    height: 262px;
    border-radius: 10px;
    margin: 0 auto;
}
.btn_sty{
    border: 2px solid white;
    color: white;
    font-size: .9em;
    background: none;
    border-radius: 5px;
    width: 140px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}
.btn_sty:hover{
    background: white;
    color: black;
}
.hover_menu {
    visibility: hidden;
    width: 184px;
    height: 262px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    background: rgba(0,0,0,0.8);
    display: flex;
    align-items: center;
    justify-content: center;
}
.data_zone {
    width: 160px;
    height: 60px;
    text-align: center;
    margin: 0 auto;
    font-family: "Noto Sans KR", sans-serif;
}
.data_zone > p:nth-child(1){
    height: 20px;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: "Noto Sans KR", sans-serif;
}
.data_zone > p:nth-child(2), .data_zone > p:nth-child(3){
    display: inline-block;
    font-size: 0.7em;
    font-family: "Noto Sans KR", sans-serif;
}